body    
{
    background-color: gold;
}

h1
{

    color:gold(255, 204, 0, 0.641);
    background-color:rgb(255, 248, 220);
}

#show_sketch
{
    float:right
}

canvas
{
    border:5px solid cornsilk;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 3s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow:1px 1px 38px aqua;}
    to {box-shadow:1px 1px 38px cornsilk;}
}

p
{
    padding-top:10px;
    font-size:25px;   
}